/* RESETS */
*, *::before, *::after {
    box-sizing: border-box;
  }
  body, p, ul {
    margin: 0;
  }
  h1, h2, h3, h4, h5, h6 {
      margin: 0;
    }
    figure { margin: 0;}
    .ul {margin: 0;     padding-inline-start: 0;}

  /* END RESETS */


body {
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 20%;
    background-color: #3F5B53;
    border-right: solid 7px #fdc8b7;
}
.main {
    height: 100vh;
    width: 80%;
    padding: 120px 0 0 150px;
    background-image: url("/images/background4.svg");
    background-color: #E7ECEF;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.strecket {
    border-bottom: 4px solid #FDC8B7;
    width: 90px;
    margin-top: 4px;
}
h1 {
    font-size: 3.5em;
}
h2 {
    margin-top: 50px;
    font-weight: normal;
    font-size: 2em;
}
.owl {
    width: 100px;
    height: auto;
    position: fixed;
    top: 30px;
    right: 30px;
}
.cat-avatar {
    width: 70%;
    height: auto;
    margin: auto;
    display: block;
    margin-top: 40px;
}
nav {
    margin-top: 70px;
    margin-left: 10px;
}
.fas {
    color: #E7ECEF;
    font-size: 1.4em;
    margin-bottom: 40px;
    padding-left: 40px;
}
ul {
    list-style-type: none;
    padding-left: 50px; 
}
li>a {
    color: #E7ECEF;
    text-decoration: none;
    margin-bottom: 30px;
    display: block;
    font-size: 1.4em;
    padding-left: 50px;
}
figcaption {
    color: #E7ECEF;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-size: 1.4em;
}
.pink {
    color: #DE356A;
}
.flex-nav{
    display: flex;
}
.flex-nav>div {
    width: 13%;
    margin-top: 70px;
}
.fa-sign-out-alt {
    margin-right: 8px;
    margin-bottom: 0;
    padding-left: 0;
}
button {
    background-color: #DE356A;
    border: none;
    border-radius: 20px;
    padding: 8px 20px 3px 20px;
    margin: auto;
    display: block;
    margin-top: 50px;
}
button>span {
    color: #E7ECEF;
    padding-bottom: 6px;
    display: inline-block;
}
.main-no-backgrund {
    background-image: none;
}
.active {
    text-decoration: underline #DE356A;
}
.active-icon {
    color: #DE356A;
    border-left: #DE356A 4px solid;
}
.profile-flex{
    display: flex;
    background-color: #3F5B53;
    width: 900px;
    border-radius: 20px;
    padding: 30px;
}
.profile-flex>div {
    width: 30%;
    margin-right: 90px;
}

.mini-pic{
    width: 100px;
    height: 100px;
    float: left;
    clear: both;
}
.big-pic {
    width: 490px;
    height: 490px;
}
.bold {
    color: #E7ECEF;
    font-weight: bold;
    font-size: 1.6em;
    margin-top: 10px;
}
.margin-under {
    margin-bottom: 40px;
    color: #E7ECEF;
}
.down {
    margin-top: 50px;
}
.profile-name {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 50px;
}
h3 {
    margin-top: 50px;
    margin-bottom: 5px;
    color: #DE356A;
    font-size: 3em;
}

.login-body {
    background-image: url("/images/LoginBackground.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: none;
    height: 100vh;

}
.login-main {
    background-image: none;
    margin-top: 200px;
    background-color: #E7ECEF;
    margin: auto;
    padding: 40px 60px;
    border-radius: 50px;;
}
.login-main>form>input{
    display: block;
}
.login-main>form>input[type=submit]{
    margin: 30px auto 50px auto;
    padding: 10px 50px;
    background-color: #DE356A;
    color: #E7ECEF;
    border-radius: 8px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.1em;
}
.login-main>form>input[type=text],  .login-main>form>input[type=password]{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: solid 1px gray;
    background-color: rgb(250, 250, 250);
}
label {
    font-weight: bold;
    margin-top: 20px;
    display: block;
    font-size: 1em;
}
.small {
    font-size: 0.9em;
}
.forgot {
    text-decoration: none;
    color: #DE356A;
}
.forgot-bold {
    font-weight: bold;
}
.block {
    font-weight: bold;
    text-align: center;
    font-size: 0.9em;
}
h4 {
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 20px;
}
.login-main>img {
    margin: auto;
    display: block;
    width: 30%;
    margin-bottom: 30px;
}



/* Chat */
.main-chat {
    background-color: #FFFFFF;
    float: left;
    width: 90%;
    padding: 0;
}
aside {
    background-color: #6E9086;
    float: left;
    width: 10%;
    height: 100vh;
    padding-top: 40px;
}
.chat-icon {
    width: 70px;
    padding-top: 0.5rem;
    display: block;
    margin: 0 auto;
}
.room-icon {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.chat-icon-1, .chat-icon-2, .chat-icon-3 {
    z-index: 20;
    width: 100px;
    height: 100px;
    background-color: #3F5B53;
    border-radius: 100%;
    margin: 0 auto;
}
.non-active-chat {
    margin-top: 2rem;
}
.chat-content {
    padding-top: 50px;

    display: block;
    margin: 0 auto;
    width: 60%;
    height: 100vh;
}
.chat-msg {
    display: block;
    height: 90px;
    margin-bottom: 2rem;
}
.chat-msg img {
    float: left;
    width: 12%;
    margin-right: 2%;
}
.chat-text {
    font-size: 0.8rem;
    float: left;
    width: 86%;
    margin-top: 0.1rem;
}
.chat-h3 {
    float: left;
    width: auto;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
    color: black;
    font-size: 1.5em;
}
.chat-time {
    margin-left: 1rem;
    padding-top: 0.3rem;
    float: left;
    font-weight: 200;
    font-size: 0.6rem;
    margin-top: 1rem;
    width: auto;
}
.chat-msg {
    float: left;
    width: 100%;
}
form {
    position: fixed;
    left: 40%;
    bottom: 50px;
}
textarea {
    background-color: #E7ECEF;
    float: left;
    border: none;
    outline: none;
    margin-left: 2rem;
    border-radius: 15px;
    height: 40px;
    width: 800px;
}
form button {
    float: left;
    width: 70px;
    height: 40px;
    margin: 0;

}
form button .fas {
    margin: 0;
    padding: 0;
}
